@import url("https://fonts.googleapis.com/css2?family=Blinker:wght@100;200;300;400;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Blinker:wght@100;200;300;400;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Amita:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Protest+Revolution&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Aclonica&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply font-blinker;
}
h2 {
  @apply font-bebasNeue text-sharp-red text-3xl text-center;
}
h3 {
  @apply font-bebasNeue text-sharp-red text-xl text-center;
}

input,
textarea,
select {
  @apply border border-gray-200 rounded-sm w-full mb-2 p-1 outline-none focus-visible:border-sharp-red;
  @apply shadow-sm;
}

.nav-list:hover {
  @apply text-light-blue underline;
}

.scrolling-text {
  display: inline-block;
  white-space: nowrap;
  animation: scroll 50s linear infinite;
}

@keyframes scroll {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(-100%);
  }
}

.image-container {
  width: 100%;
  background-color: white;
  height: auto;
}

.gallery-item {
  position: relative;
  width: 100%;
  overflow: hidden;
  grid-row-end: span 1;
  height: 100%;
  object-fit: cover;
}

.gallery-img {
  border-radius: 10px;
  width: 100%;
  height: auto;
  cursor: pointer;
}
